<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">

  <header>
    <h1>Cloud / DevOps Portfolio</h1>
    <p class="subtitle">
      AWS EC2 · Docker · Nginx · FastAPI · GitHub Actions
    </p>
  </header>

  <section>
    <h2>About This Project</h2>
    <p>
      AWS EC2 환경에서 Docker 기반 웹 서비스를 구축하고  
      GitHub Actions를 통해 CI/CD 파이프라인을 구성한 개인 포트폴리오입니다.
    </p>
  </section>

  <section>
    <h2>Tech Stack</h2>
    <ul>
      <li>AWS EC2 (Amazon Linux)</li>
      <li>Docker / Docker Compose</li>
      <li>Nginx (Reverse Proxy)</li>
      <li>FastAPI</li>
      <li>GitHub Actions</li>
    </ul>
  </section>

  <section>
    <h2>Architecture</h2>
    <p>
      Nginx가 80 포트에서 요청을 수신하고 FastAPI 컨테이너로 전달합니다.
    </p>
       <img src="/static/architecture.png"> 
  </section>

  <section>
    <h2>CI/CD Pipeline</h2>
    <ol>
      <li>GitHub main 브랜치에 코드 push</li>
      <li>GitHub Actions 자동 실행</li>
      <li>EC2 서버 SSH 접속</li>
      <li>Docker Compose로 서비스 재배포</li>
    </ol>
  </section>

  <section>
    <h2>Logs & Monitoring</h2>
    <p>Nginx 및 FastAPI 로그를 통해 요청 흐름과 에러를 추적합니다.</p>
    <pre>
docker-compose logs nginx
docker-compose logs api
    </pre>
  </section>

  <section>
    <h2>Troubleshooting</h2>
    <ul>
      <li>80 포트 충돌 → 기존 프로세스 종료 후 컨테이너화</li>
      <li>StaticFiles 경로 오류 → Docker COPY 경로 수정</li>
      <li>ModuleNotFoundError → uvicorn 실행 경로 수정</li>
    </ul>
  </section>

  <footer>
    © 2026 Portfolio Project
  </footer>

</div>

</body>
</html>
